body {
  font-family: "Helvetica Neue", Helvetica, san-serif;
  font-size: 14px;
  font-weight: normal;
}

a {
  color: #00B7FF;
}

.phone {
  background: url(../images/phone.png) no-repeat;
  background-size: 285px 600px;
  position: absolute;
  width: 285px;
  height: 600px;
  right: 50%;
  margin-right: 50px;
  top: 50%;
  margin-top: -300px;
}

#textForm {
  position: absolute;
  bottom: 86px;
  left: 25px;
}

.textInput {
  height: 30px;
  width: 219px;
  font-size: 14px;
  padding: 4px 10px;
  border-style: none;
  border-top: 1px solid #E0E0E0;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.dialer {
  position: absolute;
  left: 50%;
  font-size: 18px;
  font-family: "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue";
  top: 50%;
  margin-top: -200px;
}

.dialerInput {
  border: none;
  border-bottom: 1px solid #C0C0C0;
  font-size: 32px;
  font-family: "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue";
  margin-top: 8px;
  margin-bottom: 18px;
  width: 280px;
}

.dialButton a {
  font-size: 16px;
  color: #0B93F6;
  text-decoration: none;
}

/****
  iOS 7 Chat Bubbles from: http://codepen.io/samuelkraft/pen/Farhl
****/

section {
  position: absolute;
  left: 25px;
  top: 87px;
  bottom: 125px;
  overflow-x: hidden;
  overflow-y: scroll;
  right: 21px;
  padding: 10px;
}

section.showBackground {
  background: url(../images/bubbles-icon.png) no-repeat center;
  background-size: 150px 150px;
}

section div {
  max-width: 255px;
  word-wrap: break-word;
  margin-bottom: 4px;
  line-height: 18px;
}

.clear {
  clear: both;
}

.from-me {
  position: relative;
  padding: 0 18px;
  color: #fff;
  background: #0B93F6;
  border-radius: 25px;
  float: right;
}

.from-me:before {
  content: "";
  position: absolute;
  z-index: 4;
  bottom: -2px;
  right: -7px;
  height: 20px;
  border-left: 20px solid #0B93F6;
  border-bottom-left-radius: 16px 14px;
  transform: translate(0, -2px);
  -webkit-transform: translate(0, -2px);
}

.from-me:after {
  content: "";
  position: absolute;
  z-index: 4;
  bottom: -2px;
  right: -48px;
  width: 18px;
  height: 20px;
  background: #f1f1f1;
  border-bottom-left-radius: 10px;
  transform: translate(-30px, -2px);
  -webkit-transform: translate(-30px, -2px);
}

.from-them {
  position: relative;
  padding: 0px 18px;
  background: #E5E5EA;
  border-radius: 25px;
  color: black;
  float: left;
}

.from-them:before {
  content: "";
  position: absolute;
  z-index: 2;
  bottom: -2px;
  left: -7px;
  height: 20px;
  border-right: 20px solid #E5E5EA;
  border-bottom-right-radius: 16px 14px;
  transform: translate(0, -2px);
  -webkit-transform: translate(0, -2px);
}

.from-them:after {
  content: "";
  position: absolute;
  z-index: 3;
  bottom: -2px;
  left: 12px;
  width: 18px;
  height: 20px;
  background: #f1f1f1;
  border-bottom-right-radius: 10px;
  transform: translate(-30px, -2px);
  -webkit-transform: translate(-30px, -2px);
}